.bar {
    fill: steelblue;
}

.cover {
    /* fill: black; */
    opacity: 0;
    visibility: hidden;

}


svg rect {
    /* fill: orange; */
} 

svg text {
    /* fill: white; */
    font: 10px sans-serif;
    text-anchor: end;
}