svg rect {

    /* fill: orange; */
}

svg text {
    /* fill: white; */
    font: 12px sans-serif;
    text-anchor: end;
}

.replacement2.row h3 a {
    text-decoration: none;
    background-color: transparent;
    color: #000000;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    font-family: inherit;
    text-align: left;
}